{% extends "master.html" %}

{% block title %}
  Listado de Departamentos
{% endblock %}

{% block content %}
<h3>Número de departamentos {{ numero_departamentos }}</h3>

<table id="tabla_datos">

  <thead>
    <tr>
      <th>Propietario</th>
      <th>Direccion</th>
      <th>Barrio</th>
      <th>Valor del departamento</th>
      <th>Numero de cuartos</th>
      <th>Valor de mantenimiento</th>
      <th>Opciones</th>
    </tr>
  </thead>

  {% for e in departamentos %}
  <tr>
    <td>{{e.propietario.nombres}}</td>  
    <td>{{e.direccion}}</td>
    <td>{{e.barrio.nombreBarrio}}</td>
    <td>{{e.valorDepartamento}}</td>
    <td>{{e.numCuartos}}</td>
    <td>{{e.valorMantenimiento}}</td>
    <td>
      <a href="{% url 'editar_departamento' e.id %}">Editar</a> <br>
      <a href="{% url 'eliminar_departamento' e.id %}"
      onclick="return confirm('¿Está seguro de la eliminación?')" >
      Eliminar</a>
    </td>

  </tr>
  {% endfor %}
</table>

<script type="text/javascript">
  $(document).ready( function () {
    $('#tabla_datos').DataTable();
  });
</script>
{% endblock %}