<!DOCTYPE html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Casas</title>
  </head>
  <body>
    <div class="display-8 w-75 p-3 mx-auto">
      <h2>Listado de Casas - {{numero}}</h2>
    </div>
    

    {% for e in datos %}
    <div class = "w-75 p-3 mx-auto">
      <div class="list-group">
        <a class="list-group-item list-group-item-action active">
          Casa
        </a>
        <a class="list-group-item list-group-item-action"><b>Nombre del propietario: </b>{{e['nombres']}}</a>
        <a class="list-group-item list-group-item-action"><b>Direccion:</b>{{e['direccion']}}</a>
        <a class="list-group-item list-group-item-action"><b>Barrio: </b>{{e['barrio']}}</a>
        <a class="list-group-item list-group-item-action"><b>Valor del inmueble: </b>{{e['valorCasa']}}</a>
        <a class="list-group-item list-group-item-action"><b>Color del inmueble: </b>{{e['colorCasa']}}</a>
        <a class="list-group-item list-group-item-action"><b>Cuartos del inmueble: </b>{{e['numCuartos']}}</a>
        <a class="list-group-item list-group-item-action"><b>Pisos del inmueble: </b>{{e['numPisos']}}</a>

      </div>
    </div>
    {% endfor%}
    
  </body>
</html>